<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<img src="/assets/img/burger.png" width="200px" id="buger_img">
		{{{ body }}}
	</body>
</html>